<div layout="row" layout-fill layout-align="center center"  ng-hide="vm.isLoading">
  <md-card>
    <form ng-submit="vm.login()">
      <md-toolbar layout="row" layout-align="start center">
        <div style="padding-left: 15px">
          <h3 class="md-title">Login</h3>
        </div>
        <span flex></span>
        <md-button class="md-icon-button" href="https://synergbpo.com"><md-icon>close</md-icon></md-button>
      </md-toolbar>
      <section layout="column">
        <md-input-container>
          <label>Email</label>
          <input type="email" ng-model="vm.email" required>
        </md-input-container>
        <md-input-container>
          <label>Password</label>
          <input type="password" ng-model="vm.password" required>
        </md-input-container>
      </section>
      <div layout="row" layout-sm="column" layout-align="center center">
        <md-button type="submit" class="md-raised md-primary">Submit</md-button>
      </div>
    </form>
  </md-card>
</div>
<div layout="column" layout-fill layout-align="center center" ng-show="vm.isLoading">
  <md-progress-circular md-mode="indeterminate" md-diameter="130"></md-progress-circular>
  <p>Loading....</p>
</div>

